{% extends "customer/header.html" %}
{% load get_attribute %}


{% block title %}Customer{% endblock %}


{% block content %}
<div class="content">


  <h2 style="all: revert;">Customer Management</h2>


  <!-- table here -->
  <div class="table" style="width: 97%;">
    <div class="pager">
      <span class="pagedisplay"></span>
    </div>
    <table class="tablesorter hover-highlight focus-highlight">
      <thead>
        <tr>
          <!-- check box -->
          <th></th>
          {% for col_name in cus_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tfoot>
        <tr>
          <!-- check box -->
          <th></th>
          {% for col_name in cus_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
        <tr>
          <td colspan="{{ cus_cols|length|add:1 }}">
            <div class="pager"> <span class="left">
                # per page:
                <a href="#" class="current">10</a> |
                <a href="#">25</a> |
                <a href="#">50</a> |
                <a href="#">100</a>
              </span>
              <span class="right">
                <span class="prev">Prev</span>
                <span class="pagecount"></span>
                <span class="next">Next</span>
              </span>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        {% for cus in customers %}
        <tr>
          <td><input type="checkbox" name="" id="cus_check"></td>
          {% for col_name in cus_cols %}
          {% if col_name == 'custid' %}
          <td>
            <a href="/customerinformation/{{ cus|get_attr:col_name|default_if_none:'' }}" style="display: block; text-decoration: none;">
              {{ cus|get_attr:col_name|default_if_none:'' }}
            </a>
          </td>
          {% else %}
          <td>{{ cus|get_attr:col_name|default_if_none:'' }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <!-- customer manager here -->
  <div class="manager" style="display: flex; justify-content: center;">
    <!-- button  -->
    <div class="manager-button" style="display: flex; justify-content: space-around; width: 70%;">
      <div class="input-box">
        <button type="button" data-bs-toggle="modal" data-bs-target="#add_customer">
          Add Customer
        </button>
      </div>
      <div class="input-box">
        {% comment %} <input type="button" class="button" value="Edit"> {% endcomment %}
        <button type="button" data-bs-toggle="modal" data-bs-target="#edit_customer">
          Edit Customer
        </button>
      </div>
      <!-- delete button -->
      <form method="post" class="delete-form">
        {{ cus_form_delete.as_p }}
        {% csrf_token %}
        <div class="input-box" id="submit-form">
          {% comment %} <input type="submit" name="delete" value="Delete customer"> {% endcomment %}
          <button type="submit" name="delete">
            Delete Customer
          </button>
        </div>
      </form>
      
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
{% endblock %}


{% block modals %}
<div class="modal fade" id="add_customer" tabindex="1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="manager-form">
        <!-- body here -->
        <div class="modal-body">
          <form action="" method="post">
            {% for field in cus_form %}
            <div class="form-group">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit"  name="add" class="btn btn-primary">Add New Customer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_customer" tabindex="1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="edit-form"> <!-- js choose exactly cus to edit-->
        <div class="manager-form">
          <!-- body here -->
          <div class="modal-body">
            <form action="" method="post">
              <!-- custid col: update table -->
              <input type="hidden" id="id_custid" name="custid">
              {% for field in cus_form %}
              <div class="form-group">
                <label for="{{ field.label }}">{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}
              {% csrf_token %}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit"  name="edit" class="btn btn-primary">Edit Customer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}