{% extends "cus_info/cus_order_header.html" %}
{% load get_attribute %}
{% load get_item %}
{% load get_max %}
{% load zip_lists %}
{% load arithmetic_operators %}
{% load get_index %}


{% block title %}Customer Order{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row align-items-start">

      <!-- form-->
      <div class="col">
        <div class="card">
          <div class="card-header">
            Edit Order {{ orderid }}
          </div>
          <!-- alert-->
          <div class="alert alert-success" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="add_success">
            Add Successfully!
          </div>
          <div class="alert alert-success" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="edit_success">
            Edit Successfully!
          </div>
          <div class="alert alert-warning" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="add_warning_quantity">
            Quantity!!!
          </div>
          <div class="alert alert-warning" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="add_warning_discount">
            Discount!!!
          </div>
          <div class="alert alert-warning" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="edit_warning_exist">
            This product is not exist. Use "Add".
          </div>
          <div class="alert alert-warning" role="alert" style="margin: 20px 65px 10px 65px; display: none;" id="add_warning_exist">
            This product is already existed. Use "Edit".
          </div>

          <div class="card-body">
            <form action="" method="post" style="padding: 10px 50px" id="edit_order_detail_form">
              {% for field in edit_order_detail_form %}
              <div class="form-group">
                {% if forloop.counter0 != 0 %}
                <label for="{{ field.label }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
              </div>
              {% endfor %}
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-secondary" style="margin-top: 10px" id="delete_button">Delete</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 10px" id="edit_button">Edit</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 10px" id="add_button">Add</button>
                </div>
                <div class="col d-flex flex-row-reverse">
                  <button type="submit" class="btn btn-primary" style="margin-top: 10px" id="save_button">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- table-->
      <div class="col">
        <div>
          <div class="pager">
            <span class="pagedisplay"></span>
          </div>
          <table class="tablesorter hover-highlight focus-highlight" id="table_order">
            <thead>
              <tr>
                <!-- check box -->
                <th></th>
                {% for col_name in order_detail_cols %}
                <th>{{ col_name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
              <tr>
                <!-- check box -->
                <th></th>
                {% for col_name in order_detail_cols %}
                <th>{{ col_name }}</th>
                {% endfor %}
              </tr>
              <tr>
                <td colspan="{{ order_detail_cols|length|add:1 }}">
                  <div class="pager"> <span class="left">
                      # per page:
                      <a href="#" class="current">10</a> |
                      <a href="#">25</a> |
                      <a href="#">50</a> |
                      <a href="#">100</a>
                    </span>
                    <span class="right">
                      <span class="prev">Prev</span>
                      <span class="pagecount"></span>
                      <span class="next">Next</span>
                    </span>
                  </div>
                </td>
              </tr>
            </tfoot>
            <tbody>
              {% for cus in order_detail_list %}
              <tr>
                <td><input type="checkbox" name="" id="order_detail_check"></td>
                {% for col_name in order_detail_cols %}
                <td>{{ cus|get_attr:col_name|default_if_none:'' }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  window.onload = function() {
    var object = {{ product_price|safe }}
    var obj_string = JSON.stringify(object);
    sessionStorage.setItem('product_price', obj_string);
  }
</script>
{% endblock %}