{% extends "cus_info/header.html" %}
{% load get_attribute %}


{% block title %}Customer Infomation: Order detail{% endblock %}


{% block content %}
<div class="content">

  <h2 style="all: revert;">Order detail</h2>

  <h3 style="all: revert;">Customer {{ cus|get_attr:'contactname' }}</h3>
  <h3 style="all: revert;">Order ID: {{ orderid }}</h3>


  <!-- table layout -->
  <div class="table">
    <!-- pager -->
    <div class="pager">
      <span class="pagedisplay"></span>
    </div>

    <!-- table -->
    <table class="tablesorter hover-highlight focus-highlight">
      <!-- table head -->
      <thead>
        <tr>
          <th></th>
          {% for col_name in order_detail_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <!-- table foot -->
      <tfoot>
        <tr>
          <th></th>
          {% for col_name in order_detail_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
        <tr>
          <td colspan="{{ order_detail_cols|length|add:1 }}">
            <div class="pager"> <span class="left">
                # per page:
                <a href="#" class="current">10</a> |
                <a href="#">25</a> |
                <a href="#">50</a> |
                <a href="#">100</a>
              </span>
              <span class="right">
                <span class="prev">Prev</span>
                <span class="pagecount"></span>
                <span class="next">Next</span>
              </span>
            </div>
          </td>
        </tr>
      </tfoot>
      <!-- table body -->
      <tbody>
        {% for order in order_detail %}
        <tr>
          <td><input type="checkbox" name="" id="cus_check"></td>
          {% for col_name in order_detail_cols %}
          <td>{{ order|get_attr:col_name|default_if_none:'' }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <h3 style="all: revert;">Amount: {{ amount }}</h3>

</div>
{% endblock %}