@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #069370;
}
header
{
  position: relative;
  margin: 20px 40px;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.content
{
  position: relative;
  margin: 20px 40px;
  padding: 10px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  z-index: 0;
}
.logo
{
  color: #069370;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  margin: 2px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
.user-login
{
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px 30px 10px 30px;
  float: right;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: #069370;
}
.user-login::before
{
  content: '\f007';
  font-family: fontAwesome;
  line-height: 40px;
}
.user-login.active,
.user-login:hover
{
  background: #069370;
  color: #fff;
  border-radius: 4px;
  transition: 0.1s;
}
.user-login ul
{
  display: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  z-index: 2;
}
.user-login.active ul
{
  display: block;
  position: absolute;
  float: right;
  margin: 20px -36px;
  padding: 10px;
  border-radius: 4px;
  background: #fff;
}
.user-login ul li
{
  display: block;
  list-style: none;
}
.user-login.active ul li a
{
  margin: 2px 10px;
  padding: 2px 10px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #262626;
}
.user-login.active ul li a.active,
.user-login.active ul li a:hover
{
  background: #069370;
  color: #fff;
  border-radius: 4px;
}
.clearfix
{
  clear: both;
}
nav
{
  float: right;
  font-size: 14px;
}
nav ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li
{
  list-style: none;
}
nav ul li a
{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
  background: #069370;
  color: #fff;
  border-radius: 4px;
  transition: 0.1s;
}
@media (max-width: 1220px)
{
  header
  {
    margin: 20px;
  }
  .main-page
  {
    margin: 20px;
  }
  .content
  {
    margin: 20px;
  }
}
@media (max-width: 1100px)
{
  .menu-toggle
  {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #069370;
  }
  .menu-toggle:before
  {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before
  {
    content: '\f00d';
  }
  .user-login
  {
    margin: 10px 30px 10px 10px;
  }
  nav
  {
    display: none;
  }
  nav.active
  {
    display: block;
    width: 100%;
  }
  nav.active ul
  {
    display: block;
  }
  nav.active ul li
  {
    margin: 0;
  }
}
