{% extends "supplier/header.html" %}
{% load get_attribute %}


{% block title %}Supplier{% endblock %}


{% block content %}
<div class="content">


  <h2 style="all: revert;">Supplier Management</h2>


  <!-- table here -->
  <div class="">
    <div class="pager">
      <span class="pagedisplay"></span>
    </div>
    <table class="tablesorter hover-highlight focus-highlight">
      <thead>
        <tr>
          {% for col_name in supplier_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tfoot>
        <tr>
          {% for col_name in supplier_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
        <tr>
          <td colspan="{{ supplier_cols|length }}">
            <div class="pager">
              <span class="left">
                # per page:
                <a href="#" class="current">10</a> |
                <a href="#">25</a> |
                <a href="#">50</a> |
                <a href="#">100</a>
              </span>
              <span class="right">
                <span class="prev">Prev</span>
                <span class="pagecount"></span>
                <span class="next">Next</span>
              </span>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        {% for supplier in suppliers %}
        <tr>
          {% for col_name in supplier_cols %}
          <td>{{ supplier|get_attr:col_name|default_if_none:'' }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="manager">
    <!-- button  -->
    <div class="manager-button">
      <div class="input-box">
        <button type="button" data-bs-toggle="modal" data-bs-target="#add_supplier">
          Add Supplier
        </button>
      </div>
      <div class="input-box">
        <button type="button" data-bs-toggle="modal" data-bs-target="#edit_supplier">
          Edit Supplier
        </button>
      </div>
      <form method="post" class="delete-form">
        {{ supplier_form_delete.as_p }}
        {% csrf_token %}
        <div class="input-box" id="submit-form">
          <button type="submit" name="delete">
            Delete Supplier
          </button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
{% endblock %}


{% block modals %}
<div class="modal fade" id="add_supplier" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Supplier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="manager-form">
        <!-- body here -->
        <div class="modal-body">
          <form action="" method="post">
            {% for field in supplier_form %}
            <div class="form-group">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" name="add" class="btn btn-primary">Add New Supplier</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_supplier" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Supplier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="edit-form">
        <!-- js choose exactly cus to edit-->
        <div class="manager-form">
          <!-- body here -->
          <div class="modal-body">
            <form action="" method="post">
              <!-- custid col: update table -->
              <input type="hidden" id="id_supplierid" name="supplierid">
              {% for field in supplier_form %}
              <div class="form-group">
                <label for="{{ field.label }}">{{ field.label }}</label>
                {{ field }}
              </div>
              {% endfor %}
              {% csrf_token %}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="edit" class="btn btn-primary">Edit Supplier</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}