{% extends "customer/header.html" %}
{% load get_attribute %}


{% block title %}Supplier{% endblock %}


{% block content %}
<div class="content">


  <h2 style="all: revert;">Supplier Management</h2>


  <!-- table here -->
  <div class="">
    <div class="pager">
      <span class="pagedisplay"></span>
    </div>
    <table class="tablesorter hover-highlight focus-highlight">
      <thead>
        <tr>
          {% for col_name in supplier_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tfoot>
        <tr>
          {% for col_name in supplier_cols %}
          <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
        <tr>
          <td colspan="{{ supplier_cols|length }}">
            <div class="pager"> 
              <span class="left">
                # per page:
                <a href="#" class="current">10</a> |
                <a href="#">25</a> |
                <a href="#">50</a> |
                <a href="#">100</a>
              </span>
              <span class="right">
                <span class="prev">Prev</span>
                <span class="pagecount"></span>
                <span class="next">Next</span>
              </span>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        {% for supplier in suppliers %}
        <tr>
          {% for col_name in supplier_cols %}
          <td>{{ supplier|get_attr:col_name|default_if_none:'' }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="manager">
    <!-- button  -->
    <div class="manager-button">
      <div class="input-box">
        <input type="button" class="button" value="Add">
      </div>
      <div class="input-box">
        <input type="button" class="button" value="Edit">
      </div>
      <form method="post" class="delete-form">
        {{ supplier_form_delete.as_p }}
        {% csrf_token %}
        <div class="input-box" id="submit-form">
          <input type="submit" name="delete" value="Delete Supplier">
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
  {% comment %} Add Supplier {% endcomment %}
  <div class="add-form">
    <div class="manager-form">
      <form method="post">
        <h2 style="font-size: medium; margin-bottom: 18px; !important">Add Supplier</h2>
        {% for field in supplier_form %}
        <div class="input-box">
          {{ field }}
          <span>{{ field.label }}</span>
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="input-box" id="submit-form">
          <input type="submit" name="add" value="Add new supplier">
        </div>
      </form>
    </div>
  </div>
  {% comment %} Edit Product {% endcomment %}

  <div class="edit-form">
    <div class="manager-form">
      <form method="post">
        <h2 style="font-size: medium; margin-bottom: 18px; !important">Edit Supplier</h2>
        <!-- custid col: update table -->
        <input type="hidden" id="id_supplierid" name="supplierid"> 
        {% for field in supplier_form %}
        <div class="input-box">
          {{ field }}
          <span>{{ field.label }}</span>
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="input-box" id="submit-form">
          <input type="submit" name="edit" value="Edit product">
        </div>
      </form>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
{% endblock %}


{% comment %} {% block content1 %}
<div class="content">
  <h2 style="all: revert;">Lọc khách hàng</h2>
    
</div>
{% endblock %} {% endcomment %}