.manager .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.manager .input-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  margin: 5px 0;
  /* border: none; */
  /* border-bottom: 2px solid #333; */
  outline: none;
}

.manager .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 12px;
  margin-top: -13px;
  margin-left: 3px;
  pointer-events: none;
  color: #666;
  transition: 0.3s;
  z-index: 1;
}

#submit-form {
  text-align: center;
}

.manager .input-box input[type="submit"],
.manager .input-box input[type="button"] {
  width: 200px;
  background-color: #069370;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin: auto;
}

