.customer-manager-form {
  position: initial;
  margin: 20px;
}

.customer-table {
  margin: 20px;
}

.customer-button {
  margin-left: 10px;
}

.customer-add-form {
  display: none;
}

.customer-add-form.active {
  display: block;
  /* position: absolute; */
}

.customer-edit-form {
  display: none;
}

.customer-edit-form.active {
  display: block;
  /* position: absolute; */
}