.manager-form {
  position: initial;
  margin: 20px;
}

.table {
  margin: 20px;
}

.button {
  margin-left: 10px;
}

.add-form.active {
  display: block;
  /* position: absolute; */
}

.edit-form.active {
  display: block;
  /* position: absolute; */
}

.manager-button {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}