{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,
initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- jQuery -->
	<script src="{% static 'javascript/reference/jquery.min.js' %}"></script>

  <script src="{% static 'javascript/base.js' %}"></script>
  {% block load_js %}{% endblock %}

  {% block script %}{% endblock %}
  
  <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  {% block load_css %}{% endblock %}
</head>

<body>
  <header>
    <a href="/main/" class="logo">CRM</a>
    {% comment %} <div class="user-login">
      <ul>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div> {% endcomment %}
    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="/customers/">Khách hàng</a></li>
        <li><a href="/employees/">Nhân viên</a></li>
        <li><a href="/marketing/">Filter</a></li>
        {% comment %} <li><a href="/marketing/">Marketing</a></li> {% endcomment %}
        <li><a href="/products/">Sản phẩm</a></li>
        {% comment %} <li><a href="#">Quản trị</a></li> {% endcomment %}
        <li><a href="/suppliers/">Nhà cung cấp</a></li>
        {% comment %} <li><a href="/accountant/">Kế toán</a></li> {% endcomment %}
      </ul>
    </nav>
    <div class="clearfix"></div>
  </header>
  {% block content %}{% endblock %}
  {% block content1 %}{% endblock %}
  {% block content2 %}{% endblock %}

  {% block modals %}{% endblock %}

</body>

</html>